// Colors
// -------

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

$color-deep-pink: #f82179;
$color-victoria: #564a8c;
$color-pink-swan: #b3b3b3;
$color-white-smoke: #f5f5f5;
$color-tolopea: #110936;
$color-blackcurran: #2b0c3e;
$color-butterfly-bush: #6f5e91;
$color-paua: #150c46;
$color-gray: #888888;

// Fonts
// если значок рубля не соответствует макету на ioc https://www.artlebedev.ru/kovodstvo/sections/159/#13
// -------

$ff-graphik: 'Graphik LC Web Regular', 'Arial', sans-serif;
